body {
    font-family: Arial, sans-serif;
    background-color: #fff0f5;
    text-align: center;
    margin: 0;
}

h1 {
    background-color: #276fbc;
    padding: 20px;
    color: white;
}

.map {
    width: 1200px; 
    margin: 20px 0;
}

.place-img {
    width: 400px;
    border-radius: 10px;
    margin: 20px 0;
}

p {
    width: 60%;
    margin: auto;
    font-size: 18px;
}

/* Buttons */
.buttons {
    margin: 40px 0;
}

.btn {
    text-decoration: none;
    background-color: #276fbc;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    background-color: #167be7;

}
